.ant-alert{
    margin-bottom: 24px;
} 

.ant-card{      
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;  
    background: rgba(29, 29, 31, 0.959);
    border-radius: 8px;
    border-color: rgba(29, 29, 31, 0.959);  
    border-width: 2px;  
}

.ant-card-head {   
    color: rgba(211, 8, 8, 0.952);
    font-weight: 500;
    font-size: 20px;   
}

.ant-alert {   
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;   
    border-radius: 8px;
}

.ant-alert-success {
    background-color: #e4f8d1a1;
    border: 1px solid #b7eb8f; 
    color: #036931; 
}
  
.ant-alert-info {
    background-color: #cbebfaa9;
    border: 1px solid #91d5ff;
    color: #064268;

}

.ant-alert-warning {
background-color: #fceb989c;
border: 1px solid #ffe58f;
color: #3a3902;

}

.ant-alert-error {
background-color: #f8ada19a;
border: 1px solid #f89289;
color: #3f0c03;

}