.ant-card{
    margin-bottom: 50px;
    
}

.ant-card#attachments{
    background-color: rgba(67, 67, 68, 0.877);
    color: cornflowerblue;
}
.ant-table {
    
    color: rgba(247, 242, 242, 0.85);
    font-variant: tabular-nums;
    
    font-size: 14px;
    background: rgba(22, 22, 22, 0.74);
    border-radius: 8px;
  }

.ant-table-thead > tr > th {
    color: rgba(192, 197, 216, 0.945);
    font-weight: 500;
    text-align: left;
    background: #292c46fb;
    border-bottom: 1px solid  #9aa0cce0;   
}

.ant-table-tbody > tr > td {
    border-bottom: 1px solid #3d3c3cdc;
    color: rgb(201, 201, 228);
    
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: #333a47e8;
}
.ant-card-meta-title {
    overflow: hidden;
    color: rgba(231, 230, 243, 0.85);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ant-card-meta-description {
    color: rgba(210, 209, 223, 0.637);
  }

  .ant-card#attachments .ant-card-actions{
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgb(45, 51, 71);
    border-top: 1px solid #1c212c;
    /* border-bottom: 1px solid #1c212c;
    border-left: 2px solid #1c212c; */
    border-radius: 0px 0px 8px 8px ;
  }

  .ant-card#attachments .ant-card-actions > li {
    float: left;
    margin: 12px 0;
    color: rgba(66, 75, 102, 0.521);
    text-align: center;
  }

  .ant-card#attachments .ant-card-actions > li > span > .anticon {
    font-size: 20px;
    line-height: 22px;
  }
  .ant-card#attachments .ant-card-actions > li:not(:last-child) {
    border-right: 2px solid #4e476bc7;
  }

  .ant-pagination-item {
    background-color: rgb(32, 30, 43);
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  color: rgb(83, 103, 121);
  background-color: rgb(47, 42, 66);
  border: 1px solid #333544;
  border-radius: 2px;
}


.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  color: rgba(97, 111, 156, 0.521);
  border-color: #d9d9d9;
  cursor: not-allowed;
}

.ant-drawer-title {
  margin: 0;
  color: rgba(212, 209, 209, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.ant-drawer-content {
  position: relative;
  z-index: 1;
  overflow: auto;
  background-color: rgba(22, 28, 44, 0.925);
  background-clip: padding-box;
  border: 0;
}