.logo {
    height: 32px;
    margin: 16px;
    
  }

  .ant-layout-sider-trigger {
   
    color: #fff;    
    background: rgba(35, 35, 59, 0.966);
  }
   
  .ant-layout-sider {    
    background: rgba(25, 25, 43, 0.966);;    
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal){
    background-color: rgba(25, 25, 43, 0.87);
  }
  
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:hover{   
    border-top-color: blue;
    border-bottom-color: blue;
    border-width: 4px, 0px, 4px, 0px;
  }
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #307dc460; 
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}


